@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

.header{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: black;
    top:0;
    position:sticky;
    z-index: 2000;
    padding-top: 12px;
   
}
.head-left{
    flex:0.4; 
    align-items: center;
    justify-content:center ;   
    display: flex;
}
.head-left>h3{
    font-family:"Lato",sans-serif ;
    letter-spacing: 1px;
    text-transform: capitalize;

}
h3:hover{
    color: brown;
    font-size: 50px;
    background-color: chartreuse;
    border: 1px solid red;
    border-radius: 50px;


}
.head-right{
    flex:0.6;
    align-items: center;
    justify-content:space-evenly ;
    display: flex;
    background-color: blueviolet;
    border-radius: 10px;
}
.head-right>a>h4{
    font-size:18px;
    cursor: pointer;
    transition:transform 200ms ease-in-out;
    padding:5px 0;
    letter-spacing:0.7px ;
    font-family:"Oleo",serif;
}
.head-right>a>h4:hover{
    transform: scale(1.09);    
    background-color:yellowgreen;
    border-radius: 5px;
    color:white;
    padding:5px 20px;
    letter-spacing:0.7px ;
    font-family:"Oleo",serif;
    font-size: 18px;
    cursor: pointer;
}
.headrightbutton{
    background-color: lightblue;
    color:white;
    padding:5px 20px;
    border-radius:5px;
    cursor:pointer;
}
